body{
font-family: Arial, sans-serif;
margin:0;
background:linear-gradient(135deg,#4facfe,#00f2fe);
}

/* Login & Signup */

.container{

width:350px;
margin:120px auto;
padding:30px;
background:white;
border-radius:12px;
text-align:center;
box-shadow:0 10px 25px rgba(0,0,0,0.2);

}

input{

width:90%;
padding:12px;
margin:10px 0;
border-radius:6px;
border:1px solid #ccc;

}

button{

padding:12px 20px;
background:#3498db;
color:white;
border:none;
border-radius:6px;
cursor:pointer;

}

button:hover{

background:#2980b9;

}

a{

text-decoration:none;
color:#3498db;

}

/* Navbar */

.navbar{

display:flex;
justify-content:space-between;
align-items:center;
padding:15px 40px;
background:#2c3e50;
color:white;

}

/* Dashboard */

.dashboard{

width:900px;
margin:40px auto;

}

.balance-card{

background:white;
padding:30px;
text-align:center;
border-radius:12px;
box-shadow:0 5px 15px rgba(0,0,0,0.2);
margin-bottom:30px;

}

.actions{

display:flex;
gap:20px;

}

.card{

flex:1;
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.2);

}

.card input{

width:100%;
padding:10px;
margin:10px 0;
border-radius:6px;
border:1px solid #ccc;

}

.history{

margin-top:30px;
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.2);

}

.history ul{

list-style:none;
padding:0;

}

.history li{

padding:10px;
border-bottom:1px solid #eee;

}